.main {
  position: relative;
  height: 90vh; /* Full viewport height */
  margin-left: auto;
  margin-right: auto;
  /* background-color: aquamarine; */
  width: 600px;
  overflow: auto; /* Makes content scrollable when it overflows */
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

/* Media query for smaller screens */
@media screen and (max-width: 850px) {
  .main {
      width: 100%;
  }

  /* .todo-list-name {
    margin-left: auto;
    margin-left: auto;
  } */
}

.todo-content {
  padding: 20px;
  overflow-y: auto; /* Enable scrolling for the list */
}

.todo-input-container {
  position: fixed;
  bottom: 10px; /* Few pixels above the bottom */
  left: 200px; /* Adjust this value to match the width of your sidebar */
  right: 0;
  padding: 10px;
  background: transparent; /* If you want no background */
  display: flex;
  align-items: center; /* This will vertically center the items in the form */
  justify-content: center; /* Center the content horizontally */
}

.todo-form {
  width: 100%; /* The form should take the full width of its parent */
  max-width: 600px; /* Adjust this value to fit the width of your main content area */
  display: flex;
  align-items: center;
}

.new-todo-input {
  flex-grow: 1;
  height: 40px; /* Match the height with the button */
  padding: 0 15px; /* Larger padding for larger text */
  font-size: 16px; /* Larger font size for larger text */
  border: 2px solid #ddd;
  border-radius: 20px; /* Rounded edges */
  margin-right: 10px; /* Space between input and button */
}

.new-todo-input:focus {
  outline: none;
  border-color: #007bff; /* Highlight color on focus */
}

.new-todo-submit-button {
  height: 40px; /* Match the height with the input */
  padding: 0 20px; /* Padding to make the button larger */
  font-size: 16px; /* Match font size with the input */
  border: none;
  border-radius: 20px; /* Rounded edges */
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.new-todo-submit-button:hover {
  background-color: #0056b3;
}

.todo-and-name {
  margin-left: auto;
  /* margin-left: 200px; */
  margin-right: auto;
  padding: 20px;
  /* background-color: #0056b3; */
}

/* Style for the TodoList name */
.todo-list-name {
  position: absolute;
  text-align: center;
  margin-top: 0;
  width: 60%;
  /* background-color: aqua; */
  /* padding-left: 0;
  padding-right: 0; */
  /* padding-left: 30px; */
  margin-left: 100px;
  margin-right: 0px;
}

.todo-content {
  margin-top: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the individual Todo items */
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-right: auto;
  /* background-color: #333; */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
}

.todo-item {
  background-color: #fff; /* Ensure the background matches the main content area */
  width: 100%;
  font-size: 18px;
  color: #333;
  padding: 2px;
  margin: 2px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer; /* Indicates the item is clickable */
  text-align: left;
  max-width:inherit;
  max-width: 310px;
  overflow: scroll;
}

.todo-delete-button {
  background-color: #fff; /* Ensure the background matches the main content area */
  background-color: transparent; /* White background for items */
  border: none; /* Hide borders */
  box-shadow: none;
  cursor: pointer;
}

.todo-item:hover {
  color: #f0f0f0; 
}

/* Additional styling for completed todo items */
.todo-item.complete {
  text-decoration: line-through; /* Strikethrough for completed items */
  color: #1b1818; /* Lighter color for completed items */
}

.showDate {
  display: None;
}

.date-submit {
  height: 40px;
  width: 60px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #fff;
}

/* .fa-calendar {
  
} */